*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.container {
  width: 375px;
  height: 734px;
  margin: 0 auto;
}


.status-bar {
  background-color: #FFCD02;
}

.navigation{ /* status bar image*/
  top: 200px;
  width: 375px;
  background-color:
}

nav {
  width: 375px;
  height: 72px;
  background-color: #FFCD02;
  background-image: url(../images/noun_Settings_1837931.png);
  background-repeat: no-repeat;
  background-position: bottom 40% left 9%; /*gear image position*/
  padding-top: 24px;
  padding-left: 68px;
}

.searchBox{
  padding-top: 15px;
}

input{
  width: 289px;
  height: 33px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  background-image: url(../images/SearchSearch.png);
  background-repeat: no-repeat;
  background-position: bottom 50% left 5%;
  padding-left: 38px;
}

input::placeholder{
  text-align: justify;

}
.map { /*map image*/
  width: 375px;
  height: 254px;
}

/*Bus Lines code*/
.row{
  width: 100%;
  height: 89px;
  background-color: #2E5A89;
  border-bottom: 14px solid #124379;
  clear: both;
}

.yellow{
  background-color: #ff9933;
  border-bottom: 14px solid #ff8000;
}

.orange {
  background-color: #ff5c33;
  border-bottom: 14px solid #ff471a;
}

.bus{
  float: left;
  width: 70%;
}

.arrival{
  float: right;
  text-align: right;
  padding-top: 15px;
  width: 25%;
}

.routesTroubleshoot{
  padding-right: 16px;
}

.lineNumber {
  font-weight: bold;
  font-size: 38px;
  line-height: 56px;
  padding-left: 16px;
}

.street  {
  line-height: 12px;
  padding-left: 16px;
}

.busTime {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

.min {
  text-align: right;
  padding-right: 16px;
}

.nextBus {
  font-size: 14px;
  text-align: right;
  padding-right: 16px;
}

/*.reRoute, .notAval, .noService, .resumeTime {
  padding-right: 16px;
}
