*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.MainContainer {
  top: 40px;
  left: 500px;
  width: 375px;
  height: 734px;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  }

  ul {
    list-style-type: none;
    float: left;
  }

.container1 {
  background-color: #FFCD02;
}

.navigation{ /*image*/
  top: 200px;
  width: 375px;
}

.container2 {
  position: absolute;
  top: 20px;
  width: 375px;
  height: 72px;
  background-color: #FFCD02;
}

.settings { /*settings image* map?*/
  padding-top: 24px;
  padding-left: 29px;
}

input{
  position: absolute;
  width: 289px;
  height: 33px;
  background-color: #fff;
  top: 22px;
  left: 71px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  background-image: url(../images/SearchSearch.png);
  background-repeat: no-repeat;
  background-position: bottom 50% left 5%;
  padding-left: 38px;
}

.container3 { /*map image*/
  position: absolute;
  width: 375px;
  height: 254px;
  top: 92px;
}

/*Bus Lines code*/
.container4, .container5, .container6, .container7, .container8{
  position: absolute;
  top: 346px;
  width: 375px;
  height: 89px;
  background-color: #2E5A89;
  border-bottom: 14px solid #124379;
}

.lineNumber {
  font-weight: bold;
  color: #fff;
  font-size: 38px;
  line-height: 56px;
  padding-left: 10px;
}

.street  {
  color: #fff;
  line-height: 12px;
  padding-left: 10px;
}

.busTime {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 313px;
  text-align: right;
  top: 10px;
}

.min {
  color: #fff;
  position: absolute;
  left: 335px;
  text-align: right;
  top: 23px;
}

.nextBus {
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 319px;
  text-align: right;
  top: 50px;
}

.container5 {
  top: 435px;
}

.container6 {
  top: 524px;
}

.container7 {
  top: 613px;
}

.container8 {
  top: 702px;
}

.container9 {
  position: absolute;
  top: 791px;
  width: 375px;
  height: 89px;
  background-color:   #ff9933;
  border-bottom: 14px solid  #ff8000;
}

.reroute{
  color: #fff;
  font-size: 16px;
  position: absolute;
  font-weight: regular;
  left: 306px;
  text-align: right;
  top: 26px;
}

.notAval{
  color: #fff;
  position: absolute;
  font-weight: regular;
  left: 330px;
  text-align: right;
  top: 50px;
}

.container10, .container11, .container12{
  position: absolute;
  top: 880px;
  width: 375px;
  height: 89px;
  background-color: #ff5c33;
  border-bottom: 14px solid  #ff471a;
}

.noService{
  color: #fff;
  font-size: 16px;
  position: absolute;
  font-weight: regular;
  left: 260px;
  text-align: right;
  top: 22px;
}

.resumeTime {
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 225px;
  text-align: right;
  top: 50px;
}

.container11 {
  top: 969px;
  width: 375px;
}

.container12 {
  top: 1058px;
}

.resumes2{
  color: ##cc4400;
  font-size: 16px;
  position: absolute;
  left: 232px;
  text-align: right;
  top: 50px;
}
/*
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}
