*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-color: #000;
}

.MainContainer {
  position: absolute;
  top: 40px;
  left: 500px;
  width: 390px;
  height: 734px;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  }

.container1 {
  position: absolute;
  width: 375px;
  height: 734px;
  background-color: #FFCD02;
}

.navigation{ /*image*/
  top: 200px;
  width: 375px;
}

.container2 {
  position: absolute;
  top: 20px;
  width: 375px;
  height: 72px;
  background-color: #FFCD02;
}

.settings { /*settings image*/
  padding-top: 24px;
  padding-left: 29px;
}

.Search h1{
  position: absolute;
  font-size: 17px;
  color: #8A8A8F;
  line-height: 60px;
  letter-spacing: -2.4%;
  left: 40px;
  top: -13px ;
}

.magnifying{ /*image*/
  padding-top: 11px;
  padding-left: 20px;
}

.Search{ /*search container*/
  position: absolute;
  width: 289px;
  height: 33px;
  background-color: #fff;
  top: 41px;
  left: 71px;
  border-radius: 10px;
}

.container3 {
  position: absolute;
  top: 92px;
  width: 375px;
  height: 254px;
  background-color: #fff;
}

.map { /*map image*/
  top: 92px;
  width: 375px;
  height: 254px;
}

/*Bus Lines code*/
.container4 {
  position: absolute;
  top: 346px;
  width: 375px;
  height: 89px;
  background-color: #2E5A89;
  border-bottom: 2px solid #124379;
}

#e1 {
  font-weight: bold;
  color: #fff;
  font-size: 38px;
  line-height: 56px;
  padding-left: 10px;
}

#e2  {
  color: #fff;
  line-height: 12px;
  padding-left: 10px;
}

#e3{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 313px;
  text-align: right;
  top: 10px;
}

#e3-1 {
  color: #fff;
  position: absolute;
  left: 335px;
  text-align: right;
  top: 23px;
}

#e4 {
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 319px;
  text-align: right;
  top: 50px;
}

.container5 {
  position: absolute;
  top: 435px;
  width: 375px;
  height: 89px;
  background-color: #2E5A89;
  border-bottom: 2px solid #124379;
}

.container6 {
  position: absolute;
  top: 524px;
  width: 375px;
  height: 89px;
  background-color: #2E5A89;
  border-bottom: 2px solid #124379;
}

.container7 {
  position: absolute;
  top: 613px;
  width: 375px;
  height: 89px;
  background-color: #2E5A89;
  border-bottom: 2px solid #124379;
}

.container8 {
  position: absolute;
  top: 702px;
  width: 375px;
  height: 89px;
  background-color: #2E5A89;
  border-bottom: 2px solid #124379;
}

.container9 {
  position: absolute;
  top: 791px;
  width: 375px;
  height: 89px;
  background-color:   #ff9933;
  border-bottom: 2px solid  #ff8000;
}

.container9 #e3{
  color: #fff;
  font-size: 16px;
  position: absolute;
  font-weight: regular;
  left: 306px;
  text-align: right;
  top: 26px;
}

.container9 #e4{
  color: #fff;
  position: absolute;
  font-weight: regular;
  left: 330px;
  text-align: right;
  top: 50px;
}

.container10 {
  position: absolute;
  top: 880px;
  width: 375px;
  height: 89px;
  background-color: #ff5c33;
  border-bottom: 2px solid  #ff471a;
}

.container10 #e3, .container11 #e3, .container12 #e3{
  color: #fff;
  font-size: 16px;
  position: absolute;
  font-weight: regular;
  left: 260px;
  text-align: right;
  top: 22px;
}

.container10 #e4, .container11 #e4{
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 225px;
  text-align: right;
  top: 50px;
}

.container11 {
  position: absolute;
  top: 969px;
  width: 375px;
  height: 89px;
  background-color: #ff5c33;
  border-bottom: 2px solid  #ff471a
;
}

.container12 {
  position: absolute;
  top: 1058px;
  width: 375px;
  height: 89px;
  background-color: #ff5c33;
  border-bottom: 2px solid  #ff471a;
}

.container12 #e4{
  color: ##cc4400;
  font-size: 16px;
  position: absolute;
  left: 232px;
  text-align: right;
  top: 50px;
}
